<button id="blue-button" class="blue-button">Blue</button>
<button id="green-button" class="green-button">Green</button>
<button id="red-button" class="red-button">Red</button>
<button id="orange-button" class="orange-button">Orange</button>

  
  